*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(
135deg,
#0f172a,
#1e293b,
#0f172a
);

padding:20px;
}

.container{
width:100%;
display:flex;
justify-content:center;
align-items:center;
}

.login-box{

width:400px;

background:rgba(255,255,255,0.08);

backdrop-filter:blur(15px);

border:1px solid rgba(56,189,248,0.3);

padding:40px;

border-radius:20px;

box-shadow:0 8px 30px rgba(0,0,0,0.3);

transition:0.3s;
}

.login-box:hover{

box-shadow:
0 0 20px rgba(56,189,248,0.3),
0 0 40px rgba(56,189,248,0.1);
}

.login-box h2{
text-align:center;
color:white;
margin-bottom:10px;
}

.login-box p{
text-align:center;
color:#cbd5e1;
margin-bottom:25px;
}

.input-box{

display:flex;
align-items:center;

background:#1e293b;

padding:12px;

border-radius:10px;

margin-bottom:15px;
}

.input-box i{
color:#38bdf8;
}

.input-box .fa-envelope,
.input-box .fa-lock{
margin-right:10px;
}

.toggle-password{
cursor:pointer;
}

.input-box input{
transition: 0.3s;
.input-box:hover{
border:1px solid #38bdf8;
}
width:100%;

background:none;

border:none;

outline:none;

color:white;

font-size:15px;
}

.remember{

display:flex;
align-items:center;

gap:8px;

color:white;

margin-bottom:15px;
}

.forgot{
text-align:right;
margin-bottom:20px;
}

.forgot a{
color:#38bdf8;
text-decoration:none;
}

button{
    letter-spacing: 1px;

width:100%;

padding:12px;

border:none;

border-radius:10px;

background:#38bdf8;

font-size:16px;

font-weight:bold;

cursor:pointer;

transition:0.3s;
}

button:hover{

transform:translateY(-3px);

box-shadow:0 0 15px #38bdf8;
}

.signup{

margin-top:20px;

text-align:center;

color:white;
}

.signup a{

color:#38bdf8;

text-decoration:none;
}

@media(max-width:480px){

.login-box{

width:100%;

padding:20px;
.login-box h2{
font-size:24px;
}
}

}